.cardDetail {
	justify-content: center;
	align-items: center;
	max-width: 100%;
	width: 50%;
	margin-left: 25%;
}
span {
	color: green;
}

.card-text {

	font-size: 80%;
	margin: 10px;
	padding: 10px;
}

.card {

	max-width: 100%;
	width: 50%;

}
