.shopping-cart {
	cursor: pointer;
	color: #fff;
}

.navCart {
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.navCartShow {
	visibility: visible;
	opacity: 1;
}

.span-color {
	color: #fff;
}