.header-footer {
	padding: 20px 50px;
	letter-spacing: 3px;
	width: 100%;
	background-color: rgb(102, 59, 42);
	display: flex;
	justify-content: center;
	align-items: center;

	@media (max-width: 768px) {
		flex-direction: column;
	}

	h3 {
		font-size: 52px;
		font-weight: 700;
		margin: 15px 0;
	}

	.header-footer-child {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;

		@media (max-width: 768px) {
			flex-direction: column;
		}
	}
}
